* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #222
}

.app {
    display: flex;
}

.pianoLog {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}